<div class="col-md-12">
  <div class="group">
    <%= link_to("Write a Blog", new_group_blog_path(@group), class: "btn btn-default pull-right")%>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @group.title %></h2>
  <span class="pull-right">
  <% if current_user && current_user.is_member_of?(@group) %>
    <label class="label label-success"> 群组成员 </label>
  <% else %>
    <label class="label label-warning"> 不是群组成员 </label>
  <% end %>
</span>
  <p><%= @group.description %></p>
  <table class="table">
    <thead>
    <tr>
      <th>文章内容</th>
      <th>发表者</th>
      <th>发表时间</th>
    </tr>
    </thead>
    <tbody>
    <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.content %></td>
          <td><%= blog.user.email %></td>
          <td><%= blog.created_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
